@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(
            115deg,
            rgba(58, 58, 158, 0.8),
            rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1{
    font-weight:400;
    line-height: 1.2;
}

p {
    font-size: 1.125rem;
}

h1,
p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
}

#survey-form{
    width:90%;
    max-width: 700px;
    background-color:#29274C;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    opacity:90%;
    border-radius: 10px;
}

fieldset {
    padding: 2rem 0;
    border: none;
}
label{
    display:block;
    margin-bottom: -0.25rem;
    margin-top: 0.5rem;
}


input,
textarea,
select{
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    border-radius: 5px;

}
input,
textarea{
    border: 1px solid #0a0a23;
    color: #ffffff;
}
.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}